# Correlation of Score with Ethnicity and Age Using Data Anlaysis Techniques:

## Methodology:

### Import Libraraies:

In [103]:
import numpy
import pandas as pd

### Reading Datasets:

In [104]:
path = r'D:\Freelancing\Python_Freelancing\Data_Mining_Pandas'

In [105]:
DsScoreDF = pd.read_csv(path+'\\DSScoreTerm1.csv')
DsMathsScoreDF = pd.read_csv(path+'\\MathScoreTerm1.csv')
DsPhysicsScoreDF = pd.read_csv(path+'\\PhysicsScoreTerm1.csv')

In [52]:
DsScoreDF.head()

             Name  Score  Age         Ethinicity        Subject Sex  ID
0  AI-KYUNG CHUNG   82.0   18     White American  Data Structue   M   1
1     ALAN HARVEY   79.0   19  European American  Data Structue   M   2
2    ALAN REYNAUD   39.0   19  European American  Data Structue   M   3
3  ALBERT CENDANA   76.0   18     White American  Data Structue   M   4
4  ALBERT HOLT JR   76.0   18     White American  Data Structue   F   5

The datatypes of each object of the above dataframe are

In [53]:
print(DsScoreDF.dtypes)

Name           object
Score         float64
Age             int64
Ethinicity     object
Subject        object
Sex            object
ID              int64
dtype: object

### Enhancements for code step 1

### Convert ethnicity to a a numerical value

In [54]:
DsScoreDF['Ethinicity'] = DsScoreDF.Ethinicity.astype('category')
DsMathsScoreDF['Ethinicity'] = DsScoreDF.Ethinicity.astype('category')
DsPhysicsScoreDF['Ethinicity'] = DsScoreDF.Ethinicity.astype('category')

In [55]:
print(DsScoreDF.dtypes)

Name            object
Score          float64
Age              int64
Ethinicity    category
Subject         object
Sex             object
ID               int64
dtype: object

Here we can see that the type of Ethnicity is changes from object to category.

### Remove the name and ethnicity column (to ensure confidentiality)

In [56]:
del DsScoreDF['Name']
del DsScoreDF['Ethinicity']

del DsMathsScoreDF['Name']
del DsMathsScoreDF['Ethinicity']

del DsPhysicsScoreDF['Name']
del DsPhysicsScoreDF['Ethinicity']

In [57]:
DsPhysicsScoreDF.head()

   Score  Age  Subject Sex  ID
0   84.0   18  Physics   M   1
1   81.0   19  Physics   M   2
2   41.0   19  Physics   M   3
3   78.0   18  Physics   M   4
4   78.0   18  Physics   F   5

### Fill Missing Values with Zeros

In [58]:
DsScoreDF.fillna(0, inplace = True)
DsMathsScoreDF.fillna(0,inplace=True)
DsPhysicsScoreDF.fillna(0,inplace=True)

In [59]:
DsScoreDF.head()

   Score  Age        Subject Sex  ID
0   82.0   18  Data Structue   M   1
1   79.0   19  Data Structue   M   2
2   39.0   19  Data Structue   M   3
3   76.0   18  Data Structue   M   4
4   76.0   18  Data Structue   F   5

## Merging Dataframe

In [60]:
MergedDF = pd.concat([DsScoreDF, DsMathsScoreDF,DsPhysicsScoreDF], axis=0)
MergedDF.head()

   Score  Age        Subject Sex  ID
0   82.0   18  Data Structue   M   1
1   79.0   19  Data Structue   M   2
2   39.0   19  Data Structue   M   3
3   76.0   18  Data Structue   M   4
4   76.0   18  Data Structue   F   5

### Change Sex Column From M and F to 1 and 2:

In [61]:
MergedDF['Sex'].replace({'F':2,'M':1},inplace=True)

In [62]:
MergedDF.head()

   Score  Age        Subject  Sex  ID
0   82.0   18  Data Structue    1   1
1   79.0   19  Data Structue    1   2
2   39.0   19  Data Structue    1   3
3   76.0   18  Data Structue    1   4
4   76.0   18  Data Structue    2   5

### Store the data in a new file – ScoreFinal.csv

In [63]:
ScoreFinal = MergedDF

In [64]:
ScoreFinal.head()

   Score  Age        Subject  Sex  ID
0   82.0   18  Data Structue    1   1
1   79.0   19  Data Structue    1   2
2   39.0   19  Data Structue    1   3
3   76.0   18  Data Structue    1   4
4   76.0   18  Data Structue    2   5

### Correlation of Score with Age, Ethnicity

In [65]:
ScoreFinal.corr()

          Score       Age           Sex            ID
Score  1.000000 -0.026416 -1.276865e-02  2.497562e-02
Age   -0.026416  1.000000  1.391918e-02 -3.516199e-02
Sex   -0.012769  0.013919  1.000000e+00 -8.539364e-18
ID     0.024976 -0.035162 -8.539364e-18  1.000000e+00

This function find the all possible correlation between two columns. Diognal values are 1 becasue correlation of each values with itself is 1.

### Enhancements for code step 2

### Fill the Missing Score for a Student to the Average of the Class

In [75]:
DsScoreDFScoreMean = DsScoreDF['Score'].mean()

DsScoreDF["Score"].fillna(DsScoreDFScoreMean, inplace = True)

In [76]:
DsMathsScoreDFMean = DsMathsScoreDF['Score'].mean()

DsMathsScoreDF["Score"].fillna(DsScoreDFScoreMean, inplace = True)

In [77]:
DsPhysicsScoreDFMean = DsPhysicsScoreDF['Score'].mean()

DsPhysicsScoreDF['Score'].fillna(DsPhysicsScoreDFMean, inplace = True)

All the blanks have been converted into average value of score.